.menu-table {
  border-collapse: collapse;
  margin: auto;
}

.menu-table td {
  border: 2px solid #333;
  text-align: center;
}

.thead th {
  color: #ffffff;
  font-weight: 800;
  background-color: #000000;
}

.tbody th {
  color: #ffffff;
  font-weight: 800;
  background-color: #000000;
}

.tbody td {
  color: #000000;
  background-color: antiquewhite;
}
